.popup__btn-close {
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url(../../../images/icon-close.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: opacity .2s linear;
}
  
  
.popup__btn-close:hover {
  cursor: pointer;
  opacity: .6;
}
