.description-block {
  width: calc(100% - 450px);
  background-color: #f6efe9;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

  position: relative;
}


@media screen and (max-width: 950px) {
  .description-block {
    width: calc(100% - 270px);
  }
}

@media screen and (max-width: 950px) {
  .description-block {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}