.decoration-line {
  width: 430px;
  height: 10px;
  margin-top: 15px;
  background-color: #603d4d;
}



@media screen and (max-width: 950px) {
  .decoration-line {
    width: 290px;
    height: 5px;
  }
}
