.popup__nav-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0 15px 0 0;
  color: #603d4d;
  transition: opacity 0.2s linear;
}


.popup__nav-item:last-of-type {
  margin-right: 0;
}

.popup__nav-item:hover {
  cursor: pointer;
  opacity: .5;
}
