.description-block__subtitle {
  margin: 20px 0 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;   
  color: #396b7a;
}


@media screen and (max-width: 950px) {
  .description-block__subtitle {
    margin-top: 10px;
    font-size: 24px;
    line-height: 29px;
  }
}
